body{
    text-align: center;
}

#game-view {
    width: 500px;
    margin: auto;
    border: 1px solid black;
}

#game-view-info {
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

#game-view-squares {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
}

.game-view-case {
    width: 33.33%;
    height: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-family: sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    border: 1px solid black;

    /*border-radius: 15px;*/
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.game-view-case.isHighlighted {
    color: green;
}

.game-view-case:hover {
    background-color: lightgray;
}

.game-view-case:nth-child(-n + 6) {
    border-bottom: 1px solid black;
}

.game-view-case:nth-child(3n + 1), .game-view-case:nth-child(3n + 2) {
    border-right: 1px solid black;
}